@import "tailwindcss";
@plugin "daisyui" {
  themes: cupcake --default, light, dark --prefersdark;
}

body {
  font-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI",
    sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Playfair Display", Georgia, serif;
}
